    <div class="container">
      <div class="row">
        <div class="col-md text-center">
          <p><h1 class="display-5 text-center">Welcome to Mathpedia</h1></p><br />
          <%= link_to 'See all Wikis', wikis_path, :class => 'btn btn-md btn-primary'  %>
          <%= link_to 'Create a New Wiki', new_wiki_path, :class => 'btn btn-md btn-primary'  %>

        </div>
      </div>
    </div>
