  <div class="container">
    <div class="row">
      <div class="col-md text-center">
        <p>
          <h1 class="display-5 text-center">Edit Wiki</h1>
        </p>
        <br />
        <%= render 'wikis/form', wiki: @wiki %>
        <%= render 'collaborations/form', wiki: @wiki, collaboration: @collaboration %>
       </div>
    </div>
  </div>

